.navbar {
    background:rgba(255, 0, 0, 0.3);
    color: white;
    
}

body, .jumbotron {
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin-top: 50px;
}

body {
    background-image: url("../images/yellowred.svg");
}

.jumbotron {
    background: rgba(255, 0, 0, 0.3);
}

.panel, .panel-heading {
    background: rgba(255, 0, 0, 0.3);
}

.modal-body {
    color: black
}

.modal-content {
    background: darkorange;
}

.btn-secondary {
    color: black;
}

.form-text{
    color:black;

}

.search-bar{
    float:left;
}

.search-row{
    position:relative;
    margin-top:20px;
}